:root{
    --colorwhite: white;
    --colorgrey: #3C4258;
    --colorblack: rgb(2, 2, 2);
    --colorblue: rgb(21, 65 , 140);
    --colorvisited: pink;
    --colorlink: red;
}
/* Sätter margin padding till 0 och tar bort scrollen på x axeln 
    har också valt ut en bakgrund som visas bakom texten*/
    body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background: url("../bilder/backgrund.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Ny scrollbar */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 5px;
    background-color: var(--colorwhite);
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: var(--colorblack);
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--colorgrey);
}


/* Headern följer med och width och höjden 
använder också z-index för att den ska synas över bildspelet*/
header{
    width: 100%;
    min-height: 80px;
    
    background-color: var(--colorblack);
    color: var(--colorw);
    
    position: fixed;
    z-index: 9999;
}
/* Namnet på vilken sida du är på */
.rubrik{
    position: fixed;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 20px;
    font-family: 'Righteous', cursive;
}

.link:link{
    color: var(--colorwhite);
}

.link:visited{
    color: var(--colorwhite);
}

.link:hover{
    background-color: var(--colorblue);
    border: 4px solid var(--colorwhite);
    border-radius: 4px;
    padding: 5px;
}

/* Listan/ valkatalogen med alla olika planeter */
.toggle{
    display: none;
    width: 0;
}

.links{
    width: auto;
    float: right;
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 30px;

    color: var(--colorblue);
}

.planetlist{
    display: inline-block;
    padding: 15px 30px;
}

.planetlist a {
    display: block;
    margin: 15px;
    padding: 5px;
}

.planet{
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: var(--colorwhite);
    position: relative;
}

.planet:hover{
    background-color: var(--colorblue);
    border-radius: 10px;
    border: 4px solid var(--colorwhite);
    padding: 6px;
    margin: 10px;
}

/* Den sotra bilden */
.bild  {
    width: 100%;
}

/* Texten alt info osv */
.main{
    margin-bottom: 10px;
    color: var(--colorwhite);
    padding-bottom: 10px;
    padding-top: 10px;
    
    display: grid;
    grid-template-areas: 
    '. contents inforuta .'
    '. bildspel bildspel . '
    ;
    grid-template-columns:1fr auto 400px 1fr;
    grid-template-rows: 1fr auto;
}

/* inforutan */
.inforuta{
    grid-area: inforuta;
    
    background-color: rgba(2, 2, 2, 0.3);
    border: 1px solid var(--colorblack);
    margin-right: 20px;
    max-height: 500px;
}

/*Text*/
.content{
    background-color: rgba(2, 2, 2, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 10px;
    max-width: 1000px;
    border: 1px solid var(--colorblack);
    
    grid-area: contents;
    display: grid;
    grid-template-areas: 
    'intro'
    'rubrik1'
    'text1'
    'rubrik2'
    'text2'
    'rubrik3'
    'text3'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
}

.content a:link{
    color: var(--colorlink);
}

.content a:visited{
    color: var(--colorvisited);
}

.introduktion{
    grid-area: intro;
}

.rubrik_1{
    grid-area: rubrik1;
}

.rubrik_2{
    grid-area: rubrik2;
}

.rubrik_3{
    grid-area: rubrik3;
}

.stycke1{
    grid-area: text1;
}

.stycke2{
    grid-area: text2;
}

.stycke3{
    grid-area: text3;
}

/* Bildspel container */
.slideshow-container {
    grid-area: bildspel;
    max-width: 640px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    transform: scale(1);
}

/* Gömmer bilder från start */
.mySlides {
    display: none;
}

/* Fram och bakåtknappar */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--colorwhite);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position för fram och bak knappar */
.next {
    right: 0;
    border-radius: 3px 3px 3px 3px;
}
.prev{
    left: 0;
    border-radius: 3px 3px 3px 3px;
}

/* När man hoovrar över knapparna*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Nummer text på bilspelet (ex. 1/3) */
.numbertext {
    color: var(--colorblack);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Plupparna under bildspel */
.dot {
    display: flex;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 0px;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* Footern */
footer{
    background-color: var(--colorblack);
    bottom: 0;
    height: 310px;
    width: 100%;

    color: var(--colorwhite);
    display: grid;
    grid-template-areas:  
    'bild links'
    ;
    
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 300px;
}

.uppdaterad{
    grid-area: bild;
    margin-left: 30px;
    margin-top: 20px;
}

.vidare{
    grid-area: links;
    margin-top: 50px;
    margin-left: 30px;
    display: grid;
}

.vidare a{
    text-decoration: none;
    color: var(--colorwhite);
}

.mail{
    margin-bottom: 0;
}

@media all and (max-width: 1600px){

/* Valkatalog som en slidevar*/
.valkatalog{
    background-color: var(--colorblack);
    width: 200px;
    height: 100%;
    position: relative;

    position: fixed;
    right: -200px;
    top: 0;
    transition: .3s ease-in-out;
    display: grid;
}

/* Slider */
.toggle{
    color: var(--colorwhite);
    display: inline-block;
    cursor: pointer;
    
    position: absolute;
    top: 20px;
    right: 100%;
    margin-right: 60px;
}

/* Animerad knapp */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--colorwhite);
    margin: 6px 0;
    transition: 0.4s ease-in-out;
}

/* Roterar översta strecket*/
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fader bort den i mitten */
.change .bar2 {
    opacity: 0;
}

/* Roterar sista strecket */
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.open{
    right: 0;
}

.planetlist{
    margin-bottom: 100px;
}

.planet{
    position: absolute;
    margin-bottom: 100px;
}

.content{
    margin-right: 30px;
}

.links{
    display: grid;
}

footer{
    bottom: -100;
}
}

@media all and (max-width: 1000px){

.main{
    grid-template-areas: 
    'inforuta'
    'contents'
    'bildspel'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

}

.slideshow-container {
    transform: scale(0.7);
}

.inforuta{
    /* margin-right: 20px; */
}

.bild{
    margin: 0;
    margin-top: 70px;
    width: 100%;
}
.logo{
    display: none;
    width: 0;
    height: 0;
}
footer{
    grid-template-areas: 
    'bild '
    'links';
    grid-template-rows: repeat(2, 1fr);
}

}

@media all and (max-width: 500px){

.rubrik{
    top: 10px;
    font-size: 23px;
}

.main{
    grid-template-rows: repeat(3, auto);

}

.slideshow-container {
    transform: scale(0.5);
}

.logo{
    transform: scale(0.6);
}

.valkatalog{
    width: 200px;
    right: -200px;
}

.open{
    right: 0;
}

.planet{
    font-size: 15px;
}
}

@media all and (max-width: 350px){
.rubrik{
    top: 10px;
}

.slideshow-container {
    transform: scale(0.45);
}

.logo{
    transform: scale(0.4);
}
.valkatalog{
    width: 150px;
    right: -150px;
}

.open{
    right: 0;
}
}

@media all and (max-height: 1200px){

.planetlist{
    margin-bottom: 50px;
}
}

@media all and (max-height: 700px){

.planetlist{
    margin-bottom: 40px;
}
}

@media all and (max-height: 580px) {

.planetlist{
    margin-bottom: 20px;
}
}

@media all and (max-height: 420px){

.planetlist{
    margin-bottom: 0;
}
}