/*-------Variabler-------*/
:root {
    --color1: white;
    --color2:black;
    --color3:darkgrey;
    --color4: #2b56ab;
}
/*-------Grundformatiering-------*/
body{
    margin-left: 7rem;
    margin-right:7rem;
    margin-top: 0;
    padding: 0;
    

    background-color: var(--color2);
}

.hela{
    
    color: var(--color1);
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    padding-bottom: 2rem;

    display: grid;
    grid-template-rows: 6,25rem auto 1fr auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'header header'
    'nav nav'
    'allt allt'
    'footer footer'
    ;
    
    border:1px solid white ;
}
/*-------Header-------*/
.namn{
    grid-area: header;
}


/*-------Nav-------*/
.valkatalog{
    grid-area: nav;

    display: flex;
    justify-content: space-between;

    border:1px solid white ;

    padding: 1rem;
    box-sizing: border-box;

    }

.planet{
    text-decoration: none;
    color: var(--color4);
    font-size: 1.5rem;
    font-weight: bold;

}

/*-------Grundformatiering text-------*/
.content{
    grid-area: allt;
    
    display: grid;
    grid-template-areas: 
    'bild introduktion lista'
    'texta texta lista'
    'texta texta .'
    ;
    grid-template-columns:auto 1fr 20rem;
    grid-template-rows: repeat(3, 1fr);

    
    border:1px solid white ;
}

.bild{
    grid-area: bild;
    
    border:1px solid white ;
}

.introduktion{
    grid-area: introduktion;

    font-weight: bold;    
    border:1px solid white ;
}

.text{
    grid-area: texta;


    border:1px solid white ;
}



/*-------Inforuta-------*/
.inforuta{
    grid-area: lista;

    padding: 0;

    
    border:1px solid white ;
}

.inforubrik{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom:1px solid white ;
}

.lista{

    list-style-type: none;

}
/*-------Footer-------*/
.footer{
    grid-area: footer;

    
    border:1px solid white ;
}


@media all and (max-width: 800px){
    
.hela{
    color: var(--color1);
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    padding-bottom: 2rem;

    display: grid;
    grid-template-rows: 6,25rem 1fr auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'header header'
    'allt allt'
    'footer footer'
    ;
    
    border:1px solid white ;
}

.valkatalog{
    background-color: var(--color1);
    width: 150px;
    height: 60vh;

    position: fixed;
    left: -150px;

    transition: .5s ease-in-out;

    display: grid;
}

.valkatalog span{
    background-color: royalblue;
    color: white;
    display: block;
    height: 50px;
    width: 50px;

    cursor: pointer;

    top: 5px;


    position: absolute;
    right: -50px;


}

.open{
    left: 0;
}

.content{
    grid-area: allt;
    
    display: grid;
    grid-template-areas: 
    'bild introduktion lista'
    'texta texta lista'
    'texta texta .'
    ;
    grid-template-columns:auto 1fr 20rem;
    grid-template-rows: repeat(3, 1fr);

    
    border:1px solid white ;
}


}