/*-------Variabler-------*/
:root {
    --color1: white;
    --color2:black;
    --color3:darkgrey;
}
/*-------Grundformatiering-------*/
body{
    margin-left: 10§rem;
    margin-right:10rem;
    margin-top: 0;
    padding: 0;
    background-color: var(--color2);

    background-image: url(bilder/bakgrund.jpg);
}

.hela{
    background-color: var(--color2);
    color: var(--color1);
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    padding-bottom: 2rem;

    display: grid;
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    'header header'
    'nav nav'
    'allt lista'
    'footer footer'
    ;
}
/*-------Header-------*/
.namn{
    grid-area: header;
}


/*-------Nav-------*/
.valkatalog{
    grid-area: nav;

    display: flex;
    justify-content: space-between;
}

.planet{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.5rem;
}


.inforuta{
    grid-area: lista;
}

/*-------Grundformatiering text-------*/
.storainfo{
    grid-area: allt;
    
    display: grid;
    grid-template-areas: 
    'bild introduktion'
    'texta texta'
    'texta texta'
    ;
    grid-template-columns:repeat(2, auto);
    grid-template-rows: repeat(2, auto);

}
.bild{
    grid-area: bild;

    margin: 0;
    padding: 0;
}

.introduktion{
    grid-area: introduktion;
}

.text{
    grid-area: texta;
}

/*-------Footer-------*/
.footer{
    grid-area: footer;
}