:root{
    --colorw: white;
    --colorb: #3C4258;
    --colorblack: black;
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    min-height: 80px;
    background-color: var(--colorblack);
    color: var(--colorw);
}


.rubrik{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.toggle{
    display: none;
    width: 0;
}

.links{
    width: auto;
    float: right;
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 70px;
}

.planetlist{
    display: inline-block;
    padding: 15px 30px;
}

.planetlist a {
    display: block;
    padding: 10px;
}

.planet{
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.planet:hover{
    background-color: var(--colorb);
}

.main{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'contents inforuta'
    ;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
}

.bild  {
    width: 100%;
}

.inforuta{
    grid-area: inforuta;
    border: 1px solid var(--colorblack);
    margin-right: 5px;
}

.content{
    grid-area: contents;
    display: grid;
    grid-template-areas: 
    'intro'
    'rubrik1'
    'text1'
    'rubrik2'
    'text2'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

.introduktion{
    grid-area: intro;
}

.rubrik_1{
    grid-area: rubrik1;
}

.rubrik_2{
    grid-area: rubrik2;
}

.stycke1{
    grid-area: text1;
}

.stycke2{
    grid-area: text2;
    margin-bottom: 0;
}

.footer{
    grid-area: footer;
    height: 50px;
    background-color: var(--colorblack);

    color: var(--colorw);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a{
    text-decoration: none;
    color: var(--colorw);
}

